appdirs==1.4.4
astroid==2.8.2
attrs==19.3.0
autopep8==1.5.7
beautifulsoup4==4.10.0
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.0
distlib==0.3.1
dnspython==2.1.0
filelock==3.0.12
idna==2.10
isort==5.9.3
jsonschema==3.2.0
lazy-object-proxy==1.6.0
LinkChecker @ git+https://github.com/linkchecker/linkchecker.git@329e9387e5b86b6a8384a5af9f99198e0a66cfb0
mccabe==0.6.1
mmh3==2.5.1
optimizely-sdk==3.8.0
pipenv==2020.11.15
platformdirs==2.4.0
pycodestyle==2.8.0
pycparser==2.20
pylint==2.11.1
pyOpenSSL==19.1.0
pyrsistent==0.14.0
pyxdg==0.27
requests==2.24.0
six==1.15.0
soupsieve==2.2.1
toml==0.10.2
typing-extensions==3.10.0.2
urllib3==1.25.10
virtualenv==20.2.2
virtualenv-clone==0.5.4
wrapt==1.12.1
